<% var prev_date = date(Date.now(), __('list_year_month')); %>
<ul>
    <li>
        <span><%= date(Date.now(), __('list_year_month')) %> <%- __('list_now') %></span>
        <ul>
            <% posts_filter(site.posts).sort('date', 'desc').each(function(post) { %>
                <% if(date(post.date, __('list_year_month')) != prev_date) { %>
                    <% prev_date = date(post.date, __('list_year_month')) %>
        </ul>
    </li>
    <li>
        <span><%= date(post.date, __('list_year_month')) %></span>
        <ul>
                <% } %>

                <li><%= date(post.date, __('list_day')) %>: <%- __('list_title_prefix') %><a href="<%- url_for(remove_trailing_slash(post.path)) %>"><%= post.title %></a><%- __('list_title_suffix') %></li>
            <% }) %>
        </ul>
    </li>
</ul>