<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= page_language(page) %>" lang="<%= page_language(page) %>" itemscope itemtype="https://schema.org/Article">
<%
let title = page.title;
if (is_archive()){
    let time = "";
    if(is_month()) {
        time = page.year + '-' + page.month;
    } else if(is_year()) {
        time = page.year
    }
    title = __('list_archive').replace('{0}', time);
} else if (is_category()){
    title = __('list_category').replace('{0}', page.category);
} else if (is_tag()){
    title = __('list_tag').replace('{0}', page.tag);
}
%>
<head>
    <%- partial('_partial/head', {title: title}) %>

    <% if(page.bigscreen) { %>
        <%- partial('_bigscreen/' + page.bigscreen + '/head.ejs') %>
    <% } %>
</head>
<body>
    <div id="bg">
        <% if(page.bigscreen) { %>
            <%- partial('_bigscreen/' + page.bigscreen + '/body.ejs') %>
        <% } %>
    </div>
    <% if(page.bigscreen) { %>
        <div id="bigscreen-placeholder">&nbsp;</div>
    <% } %>

    <div id="container" class="<%- (page.bigscreen ? 'bigscreen' : '') %>">
        <%- partial('_partial/header') %>
        <div class="d-flex">
            <div id="content">
                <%- body %>
            </div>
            <%- partial('_partial/sidebar') %>
        </div>
        <%- partial('_partial/footer') %>
    </div>
    <!--<div class="d-none d-md-block">&nbsp;</div>-->
</body>
</html>
