---
import AutoTranslateWarning from '@components/AutoTranslateWarning.astro'
import PostExcerpt from '@components/fragments/PostExcerpt.astro'
import PostImage from '@components/fragments/PostImage.astro'
import PostInfo from '@components/fragments/PostInfo.astro'
import PostNavigation from '@components/fragments/PostNavigation.astro'
import PostText from '@components/fragments/PostText.astro'
import WalineComment from '@components/fragments/WalineComment.astro'
import PageSeries from '@components/PageSeries.astro'
import { type Language } from '@lib/language'
import { Post } from '@lib/posts'

type Props = {
  language: Language
  post: Post
  postPrev?: Post | undefined
  postNext?: Post | undefined
  isShowingMultiPosts: boolean
}

const { language, post, postPrev, postNext, isShowingMultiPosts } = Astro.props
const { Content, headings } = await post.collectionEntry.render()
---

<article>
  <div class="d-flex">
    <PostInfo
      language={language}
      post={post}
      headings={headings}
      isShowingMultiPosts={isShowingMultiPosts}
    />
    <div class="post-wrap">
      <PostImage language={language} title={post.title} image={post.image} />
      <h1 class="post-title">
        <a href={post.getFullURL()} rel="bookmark" title={post.title}
          >{post.title}</a
        >
      </h1>
      <PostText>
        {
          (isShowingMultiPosts && (
            <PostExcerpt>
              <PageSeries language={language} post={post} />
              <Content />
            </PostExcerpt>
          )) || (
            <>
              <PageSeries language={language} post={post} />
              {post.autoTranslated && <AutoTranslateWarning />}
              <Content />
            </>
          )
        }
      </PostText>
      {
        !isShowingMultiPosts && (
          <>
            <PostNavigation
              language={language}
              postPrev={postPrev}
              postNext={postNext}
            />
            <WalineComment language={language} post={post} />
          </>
        )
      }
    </div>
  </div>
</article>
