---
import { SITE_AUTHOR, SITE_TITLE } from '../consts'
import { type Language, LANGUAGES } from '../lib/language'
import { Post } from '../lib/posts'
import PostExcerptForMeta from './fragments/PostExcerptForMeta.astro'
import { getPosts } from 'src/lib/posts'

type Props = {
  fullTitle: string
  language: Language
  post: Post | undefined
}

const { fullTitle, language, post } = Astro.props
const { pathname, host } = Astro.url

const rendered = await post?.collectionEntry.render()

const posts = await getPosts()
const firstPostYear = posts[posts.length - 1]!.date.getFullYear()
---

<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  http-equiv="Referrer-Policy"
  content="no-referrer, strict-origin-when-cross-origin"
/>
<meta
  name="viewport"
  content="width=device-width,initial-scale=1,shrink-to-fit=no"
/>
<meta name="renderer" content="webkit|ie-comp|ie-stand" />
<meta name="theme-color" content="#bbdefb" />
<meta name="imagemode" content="force" />
<meta name="nightmode" content="disable" />
<meta name="wap-font-scale" content="no" />

<title>{fullTitle}</title>
<meta name="title" content={fullTitle} />
<meta name="keywords" content="" />
<meta name="description" content={fullTitle} />
<meta name="author" content={SITE_AUTHOR} />

<link rel="canonical" href={Astro.request.url} />
<link
  rel="alternate"
  type="application/rss+xml"
  title={SITE_TITLE}
  href={`https://${host}/rss2.xml`}
/>
<link
  rel="alternate"
  type="application/atom+xml"
  title={SITE_TITLE}
  href={`https://${host}/feed.xml`}
/>

{
  Object.entries(LANGUAGES).map(([_, newLanguage]) => (
    <link
      rel="alternate"
      href={`https://${host}${language.getCanonicalPath(pathname, newLanguage)}`}
      hreflang={newLanguage.getCode()}
    />
  ))
}

<script is:inline>
  function addLoadEvent(o) {
    var n = window.onload
    'function' != typeof window.onload
      ? (window.onload = o)
      : (window.onload = function () {
          n && n(), o()
        })
  }
</script>

<meta
  name="copyright"
  content={`Copyright ${firstPostYear}-${new Date().getFullYear()} ${SITE_TITLE}`}
/>

<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
<link
  rel="apple-touch-icon"
  sizes="114x114"
  href="/apple-touch-icon-114x114.png"
/>
<link
  rel="apple-touch-icon"
  sizes="120x120"
  href="/apple-touch-icon-120x120.png"
/>
<link
  rel="apple-touch-icon"
  sizes="144x144"
  href="/apple-touch-icon-144x144.png"
/>
<link
  rel="apple-touch-icon"
  sizes="152x152"
  href="/apple-touch-icon-152x152.png"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/apple-touch-icon-180x180.png"
/>
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="/android-chrome-192x192.png"
/>
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#03a9f4" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<meta name="apple-mobile-web-app-title" content={SITE_TITLE} />
<meta name="application-name" content={SITE_TITLE} />
<meta name="msapplication-TileColor" content="#03a9f4" />
<meta name="msapplication-TileImage" content="/mstile-144x144.png" />
<meta name="msapplication-navbutton-color" content="#03a9f4" />
<meta
  content={`name=${SITE_TITLE};action-uri=/;icon-uri=/favicon.png`}
  name="msapplication-task"
/>
{
  language
    .getNavBarItems()
    .map(item => (
      <meta
        content={`name=${item.name};action-uri=${item.path};icon-uri=/favicon.png`}
        name="msapplication-task"
      />
    ))
}
<meta name="theme-color" content="#03a9f4" />
<meta name="mobile-web-app-capable" content="yes" />

<meta property="og:url" content={Astro.request.url} />
<meta property="og:type" content="website" />
<meta property="og:title" content={fullTitle} />

{
  (post !== undefined && (
    <>
      <meta
        property="og:image"
        content={`https://${host}${post.image ?? '/apple-touch-icon.png'}`}
      />
      <PostExcerptForMeta property="og:description">
        {(rendered?.Content !== undefined && <rendered.Content />) || (
          <p>{post.title}</p>
        )}
      </PostExcerptForMeta>
    </>
  )) || (
    <>
      <meta
        property="og:image"
        content={`https://${host}/apple-touch-icon.png`}
      />
      <meta property="og:description" content={fullTitle} />
    </>
  )
}

<meta property="og:site_name" content={SITE_TITLE} />
<meta property="og:locale" content={language.getCode()} />

<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content={Astro.request.url} />
<meta name="twitter:title" content={fullTitle} />

{
  (post !== undefined && (
    <>
      <meta
        property="twitter:image"
        content={`https://${host}${post.image ?? '/apple-touch-icon.png'}`}
      />
      <PostExcerptForMeta property="twitter:description">
        {(rendered?.Content !== undefined && <rendered.Content />) || (
          <p>{post.title}</p>
        )}
      </PostExcerptForMeta>
    </>
  )) || (
    <>
      <meta
        property="twitter:image"
        content={`https://${host}/apple-touch-icon.png`}
      />
      <meta property="twitter:description" content={fullTitle} />
    </>
  )
}

<meta name="twitter:dnt" content="on" />

<meta itemprop="name" content={fullTitle} />

{
  (post !== undefined && (
    <>
      <meta
        property="image"
        content={`https://${host}${post.image ?? '/apple-touch-icon.png'}`}
      />
      <PostExcerptForMeta property="description">
        {(rendered?.Content !== undefined && <rendered.Content />) || (
          <p>{post.title}</p>
        )}
      </PostExcerptForMeta>
    </>
  )) || (
    <>
      <meta property="image" content={`https://${host}/apple-touch-icon.png`} />
      <meta property="description" content={fullTitle} />
    </>
  )
}
