---
import { type Language } from '../lib/language'
import { Post } from '../lib/posts'
import PostExcerpt from './fragments/PostExcerpt.astro'
import WalineComment from './fragments/WalineComment.astro'
import PostInfo from './fragments/PostInfo.astro'
import PostNavigation from './fragments/PostNavigation.astro'
import PageSeries from './PageSeries.astro'
import AutoTranslateWarning from './AutoTranslateWarning.astro'

type Props = {
  language: Language
  post: Post
  postPrev?: Post | undefined
  postNext?: Post | undefined
  isShowingMultiPosts: boolean
}

const { language, post, postPrev, postNext, isShowingMultiPosts } = Astro.props
const __ = language.getTranslation

const { Content, headings } = await post.collectionEntry.render()
---

<article>
  <div class="d-flex">
    <PostInfo
      language={language}
      post={post}
      headings={headings}
      isShowingMultiPosts={isShowingMultiPosts}
    />
    <div class="post-wrap">
      {
        post.image !== undefined && (
          <div class="post-image-wrap">
            <picture>
              <source
                srcset={`${post.image}.thumb.png.webp`}
                type="image/webp"
              />
              <source
                srcset={`${post.image}.thumb.png.avif`}
                type="image/avif"
              />
              <source srcset={`${post.image}.thumb.png.jxl`} type="image/jxl" />
              <img
                src={`${post.image}.thumb.png`}
                alt={__('illustration_for', post.title)}
                width="200"
                height="150"
              />
            </picture>
          </div>
        )
      }
      <h1 class="post-title">
        <a href={post.getFullURL()} rel="bookmark" title={post.title}
          >{post.title}</a
        >
      </h1>
      <div class="post-text">
        {
          (isShowingMultiPosts && (
            <PostExcerpt>
              <PageSeries language={language} post={post} />
              <Content />
            </PostExcerpt>
          )) || (
            <>
              <PageSeries language={language} post={post} />
              {post.autoTranslated && <AutoTranslateWarning />}
              <Content />
            </>
          )
        }
      </div>
      {
        !isShowingMultiPosts && (
          <>
            <PostNavigation
              language={language}
              postPrev={postPrev}
              postNext={postNext}
            />
            <WalineComment language={language} post={post} />
          </>
        )
      }
    </div>
  </div>
</article>
