---
import type { Language } from '@lib/language'
import { Post } from '@lib/posts'
import type { NavigationItem } from '@lib/navigation'
import { format } from 'date-fns'
import SidebarWidget from '@components/fragments/SidebarWidget.astro'
import WalineRecentComments from '@components/fragments/WalineRecentComments.astro'

type Props = {
  language: Language
  posts: Post[]
  links: NavigationItem[]
}

const { language, posts, links } = Astro.props
const __ = language.getTranslation
---

<aside class="d-none d-xl-block">
  <SidebarWidget title={__('latest_articles')}>
    {
      posts.slice(0, 15).map(post => (
        <li>
          {format(post.date, 'MM-dd')}{' '}
          <a href={post.getFullURL()}>{post.title}</a>
        </li>
      ))
    }
  </SidebarWidget>

  <WalineRecentComments language={language} />

  <SidebarWidget title={__('others')}>
    <li>
      <i class="fas fa-fw fa-rss"></i>{' '}
      <a href="/rss2.xml" target="_blank">{__('feed_rss')}</a>{' | '}
      <a href="/feed.xml" target="_blank">{__('feed_atom')}</a>{' | '}
      <a href="/feed.json" target="_blank">{__('feed_json')}</a>
    </li>
    <li>
      <i class="fas fa-fw fa-globe"></i>{' '}
      <a href="https://stats.uptimerobot.com/BLK6VsRkR" target="_blank">
        {__('server_status')}
      </a>
    </li>
    <li>
      <i class="fas fa-fw fa-sitemap"></i>{' '}
      <a href="https://lg.lantian.pub" target="_blank"
        >{__('dn42_node_status')}</a
      >
    </li>
    <li>
      <i class="fas fa-fw fa-link"></i>{' '}
      <a href="gopher://lantian.pub" target="_blank">{__('gopher_protocol')}</a>
    </li>
  </SidebarWidget>

  {
    links.length > 0 && (
      <SidebarWidget title={__('links')}>
        {links.map(item => (
          <li>
            <i class="fas fa-fw fa-link" />{' '}
            <a target="_blank" href={item.path}>
              {item.name}
            </a>
          </li>
        ))}
      </SidebarWidget>
    )
  }
</aside>
