---
import { SITE_TITLE } from '../consts';
import { Language } from '../lib/language';
import { Post, getPosts } from '../lib/posts';
import PageHead from './PageHead.astro';
import PageHeader from './PageHeader.astro';
import PageSidebar from './PageSidebar.astro';
import PageFooter from './PageFooter.astro';

import '../assets/style.scss';

type Props = {
  title: string | undefined;
  language: Language;
  post?: Post | undefined;
};

const { post, language } = Astro.props;
const fullTitle =
  Astro.props.title === undefined
    ? SITE_TITLE
    : `${Astro.props.title} - ${SITE_TITLE}`;
const posts = (await getPosts()).filter((post) => post.language.is(language));
---

<!doctype html>
<html
  lang={language.toString()}
  itemscope
  itemtype="https://schema.org/Article"
>
  <head>
    <PageHead fullTitle={fullTitle} language={language} post={post} />
  </head>
  <body>
    <div id="bg"></div>

    <div id="container" class="container">
      <PageHeader language={language} navBarItems={[]} />
      <div class="d-flex">
        <div id="content">
          <slot />
        </div>
        <PageSidebar language={language} posts={posts} links={[]} />
      </div>
      <PageFooter language={language} />
    </div>
  </body>
</html>
