---
import { type Language, CATEGORY_MAP } from '../lib/language'
import { Page } from '../lib/pages'
import PagePostExcerpt from './PagePostExcerpt.astro'

type Props = {
  language: Language
  page: Page
  isShowingMultiPosts: boolean
}

const { language, page, isShowingMultiPosts } = Astro.props
const __ = language.getTranslation

const { Content, headings } = await page.collectionEntry.render()
---

<article>
  <div class="d-flex">
    <div class="post-info-wrap">
      <div class="post-info">
        {
          !isShowingMultiPosts && (
            <div class="post-meta-wrap">
              <div class="post-meta">
                <p>
                  <span class="fas fa-list" />
                  <br />
                  <small>{__('table_of_contents')}</small>
                </p>
                <div class="post-meta-value">
                  <ol id="quicklink">
                    {headings.map(heading => (
                      <li class={`toc-item toc-level-${heading.depth}`}>
                        <a class="toc-link" href={'#' + heading.slug}>
                          <span class="toc-text">{heading.text}</span>
                        </a>
                      </li>
                    ))}
                  </ol>
                </div>
              </div>
            </div>
          )
        }
      </div>
    </div>
    <div class="post-wrap">
      <h1 class="post-title">
        <a href={page.getFullURL()} rel="bookmark" title={page.title}
          >{page.title}</a
        >
      </h1>
      <div class="post-text">
        {
          (isShowingMultiPosts && (
            <PagePostExcerpt>
              <Content />
            </PagePostExcerpt>
          )) || <Content />
        }
      </div>
    </div>
  </div>
</article>
