---
import { type Language } from '../lib/language'
import { Page } from '../lib/pages'
import PostInfo from './fragments/PostInfo.astro'

type Props = {
  language: Language
  page: Page
}

const { language, page } = Astro.props

const { Content, headings } = await page.collectionEntry.render()
---

<article>
  <div class="d-flex">
    <PostInfo
      language={language}
      page={page}
      headings={headings}
      isShowingMultiPosts={false}
    />
    <div class="post-wrap">
      <h1 class="post-title">
        <a href={page.getFullURL()} rel="bookmark" title={page.title}
          >{page.title}</a
        >
      </h1>
      <div class="post-text">
        <Content />
      </div>
    </div>
  </div>
</article>
