---
import '../assets/style.scss'

import Background from '@components/fragments/Background.astro'
import Indihome from '@components/fragments/Indihome.astro'
import PageFooter from '@components/PageFooter.astro'
import PageHead from '@components/PageHead.astro'
import PageHeader from '@components/PageHeader.astro'
import type { PaginationProps } from '@components/PagePaginator.astro'
import PageSidebar from '@components/PageSidebar.astro'
import { SITE_TITLE } from '@consts'
import type { Language } from '@lib/language'
import type { Page } from '@lib/pages'
import { getPosts, Post } from '@lib/posts'

type Props = {
  title: string | undefined
  language: Language
  post?: Post
  page?: Page
  pagination?: PaginationProps | undefined
}

const { title, language, post, page, pagination } = Astro.props
const fullTitle = title === undefined ? SITE_TITLE : `${title} - ${SITE_TITLE}`
const posts = (await getPosts()).filter(post => post.language.is(language))
const bodyClass = post?.bodyClass ?? page?.bodyClass
---

<!doctype html>
<html
  lang={language.getFullCode()}
  itemscope
  itemtype="https://schema.org/Article"
>
  <head>
    <PageHead fullTitle={fullTitle} language={language} post={post} />
    <script src="../assets/script.main.ts"></script>
  </head>
  <body class={bodyClass}>
    <Background />

    {bodyClass == 'indihome' && <Indihome />}

    <div id="container" class="container">
      <PageHeader language={language} navBarItems={language.getNavBarItems()} />
      <div class="d-flex">
        <div id="content">
          <slot />
        </div>
        <aside class="d-none d-xl-block">
          <PageSidebar
            language={language}
            posts={posts}
            links={language.getLinkItems()}
          />
        </aside>
      </div>
      <PageFooter language={language} pagination={pagination} />
    </div>

    <style lang="scss">
      @import '../assets/sass/bootstrap_common.scss';

      @include media-breakpoint-down(md) {
        html,
        body {
          overflow-x: hidden;
          width: 100%;
        }

        body {
          position: relative;
        }
      }

      body {
        background-color: var(--lt-page-bg) !important;
        color: var(--lt-page-text) !important;
        font-size: $font-size-base !important;
      }

      #container {
        background: var(--lt-component-bg);
        padding: 0;

        @include media-breakpoint-up(md) {
          margin: 50px auto;
          box-shadow: 0 0 50px var(--lt-page-shadow);
        }
      }

      #content {
        flex: 3;
        width: 0;
      }

      aside {
        flex: 1;
        width: 0;
      }
    </style>
  </body>
</html>
