<footer class="lantian clearfix">
    <%- partial("_partial/paginator") %>
    <div id="copyright" class="float-end text-end">
        <i class="fas fa-copyright"></i> 2012-<%= date(Date.now(), 'YYYY') %> <%= config.title %><br/>
        <small><%- __('powered_by').replace('{0}', '<a href="https://hexo.io/" target="_blank">Hexo</a>') %> @ <%= date(Date.now(), 'YYYY-MM-DD HH:mm') %></small>
    </div>
</footer>
