<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
<meta name="renderer" content="webkit"/>
<meta name="theme-color" content="#bbdefb" />

<title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
<meta name="title" content="<% if (title){ %><%= title %> | <% } %><%= config.title %>"/>
<meta property="og:title" content="<% if (title){ %><%= title %> | <% } %><%= config.title %>">
<meta property="og:type" content="website">
<meta name="Keywords" content="<%= config.keywords %>">
<meta name="description" content="<%= config.description || config.title %>">
<meta name="author" content="<%= config.author %>">

<link rel="canonical" href="<%- remove_trailing_slash(url) %>">
<link rel="alternate" type="application/rss+xml" title="<%= config.title %>" href="<%- url_for('rss2.xml') %>" />
<link rel="alternate" type="application/atom+xml" title="<%= config.title %>" href="<%- url_for('feed.xml') %>"/>
<% if (config.multilingual) { %>
    <%- list_head_alternates() %>
<% } %>

<script>function addLoadEvent(o){var n=window.onload;"function"!=typeof window.onload?window.onload=o:window.onload=function(){n&&n(),o()}}</script>

<link rel="stylesheet" href="<%- url_for('assets/style.css?v=' + lantian_git_rev()) %>" />

<script defer src="<%- url_for('assets/script.main.bundle.js?v=' + lantian_git_rev()) %>"></script>
<script defer src="<%- url_for('assets/script.search.bundle.js?v=' + lantian_git_rev()) %>"></script>

<meta name="copyright" content="Copyright 2012-<%= date(new Date(), 'YYYY') %> <%= config.title %>"/>
<% if(config.googleSiteVerification) { %>
<meta name="google-site-verification" content="<%= config.googleSiteVerification %>"/>
<% } %>

<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#03a9f4">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<meta name="apple-mobile-web-app-title" content="<%= config.title %>">
<meta name="application-name" content="<%= config.title %>">
<meta name="msapplication-TileColor" content="#03a9f4">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="msapplication-navbutton-color" content="#03a9f4"/>
<meta content="name=<%= config.title %>;action-uri=/;icon-uri=<%- url_for('favicon.png') %>" name="msapplication-task"/>
<% if(theme_config(page_language()).nav) { %>
    <% theme_config(page_language()).nav.forEach(function(link) { %>
        <meta content="name=<%- link.name %>;action-uri=<%- url_for(remove_trailing_slash(link.url)) %>;icon-uri=<%- url_for('favicon.png') %>" name="msapplication-task"/>
    <% }) %>
<% } %>
<meta name="theme-color" content="#03a9f4">

</head>
