<nav class="lantian navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="<%- (function() {
            if(is_default_language(page_language())) {
                return url_for(config.root);
            } else {
                return url_for(config.root + (config.root == '/' ? '' : '/') + page_language());
            }
        })(); %>"><%= config.title %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#lantian-navbar" aria-controls="lantian-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="lantian-navbar">
            <ul class="navbar-nav">
                <% if(theme_config(page_language()).nav) { %>
                    <% theme_config(page_language()).nav.forEach(function(link) { %>
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link<% if(link.url == '/' + page.path) { %> active<% } %>" href="<%- url_for(remove_trailing_slash(link.url)) %>"><%- link.name %></a>
                        </li>
                    <% }) %>

                    <li class="nav-item dropdown d-block d-lg-none">
                        <a href="#" class="nav-link dropdown-toggle" id="pages-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-fw fa-file"></i> <%- __('page') %> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="pages-dropdown">
                            <% theme_config(page_language()).nav.forEach(function(link) { %>
                                <li>
                                    <a class="dropdown-item<% if(link.url == '/' + page.path) { %> active<% } %>" href="<%- url_for(remove_trailing_slash(link.url)) %>"><%- link.name %></a>
                                </li>
                            <% }) %>
                        </ul>
                    </li>
                <% } %>

                <% if(0 && site.categories && site.categories.length) { %>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="categories-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%- __('category') %> <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="categories-dropdown">
                        <% site.categories.sort('name', 'asc').each(function(category) { %>
                            <% if('' == category.name) return; %>
                            <li>
                                <a class="dropdown-item<%
                                    if(is_post()) {
                                        if(_.includes(page.categories.map(c => c.name), category.name)) {
                                            %> active<%
                                        }
                                    } else if(is_category()) {
                                        if(page.category == category.name) {
                                            %> active<%
                                        }
                                    } %>" href="<%- url_for(remove_trailing_slash(category.path)) %>"><%- category.name %></a>
                            </li>
                        <% }) %>
                    </ul>
                </li>
                <% } %>
            </ul>
            <ul class="navbar-nav ms-auto">
                <% const languages = display_languages(); %>
                <% if (languages.length > 1) { %>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="languages-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-fw fa-language"></i> <%- __('language') %> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="languages-dropdown">
                        <% languages.forEach((language) => { %>
                            <li>
                                <a href="<%= url_for(remove_trailing_slash(i18n_path(!is_default_language(language) ? language : null))) %>" class="dropdown-item<% if(language == page.language) { %> active<% } %>">
                                    <%- language_name(language) %>
                                </a>
                            </li>
                        <% }) %>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item disabled" href="#">Not all pages have translations.</a>
                        </li>
                        <li>
                            <a class="dropdown-item disabled" href="#">You may see 404 - this is normal.</a>
                        </li>
                    </ul>
                </li>
                <% } %>

                <li class="nav-item position-relative">
                    <a class="nav-link" id="dark-mode" href="#">
                        <i class="fas fa-fw fa-adjust"></i> <%- __('color_scheme') %>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<% if(theme_config(page_language()).announcement) { %>
<section class="text-center lantian">
    <%- theme_config(page_language()).announcement %>
</section>
<% } %>
