<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
<meta name="renderer" content="webkit"/>
<meta name="theme-color" content="#bbdefb" />

<title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
<meta name="title" content="<% if (title){ %><%= title %> | <% } %><%= config.title %>"/>
<meta property="og:title" content="<% if (title){ %><%= title %> | <% } %><%= config.title %>">
<meta property="og:type" content="website">
<meta name="Keywords" content="<%= config.keywords %>">
<meta name="description" content="<%= config.description || config.title %>">
<meta name="author" content="<%= config.author %>">

<%
var removeTrailingSlash = function(s) {
    if(s[s.length - 1] == '/') {
        return s.substring(0, s.length - 1);
    } else if(s.substring(s.length - 11) == '/index.html') {
        return s.substring(0, s.length - 11);
    } else {
        return s;
    }
}
%>
<link rel="canonical" href="<%- removeTrailingSlash(url) %>">
<link rel="alternate" type="application/rss+xml" title="<%= config.title %>" href="<%- url_for('rss2.xml') %>" />
<link rel="alternate" type="application/atom+xml" title="<%= config.title %>" href="<%- url_for('feed.xml') %>"/>
<% if (config.multilingual) { %>
    <%- list_head_alternates() %>
<% } %>
  
<script>function addLoadEvent(o){var n=window.onload;"function"!=typeof window.onload?window.onload=o:window.onload=function(){n&&n(),o()}}</script>

<link rel="stylesheet" href="<%- url_for('assets/style.css') %>" />

<script defer src="https://cdn.jsdelivr.net/gh/fooleap/disqus-php-api@88dd45a/dist/iDisqus.min.js" integrity="sha384-/q2+7X6PZPaLjX6pOx6FNquaLht9mctdSDuenGY+T6IGLqjoZEuo8pXkXFmroZCS" crossorigin="anonymous"></script>
<script defer src="<%- url_for('assets/script.main.bundle.js') %>"></script>
<script defer src="<%- url_for('assets/script.search.bundle.js') %>"></script>

<meta name="copyright" content="Copyright 2012-<%= date(new Date(), 'YYYY') %> <%= config.title %>"/>
<% if(config.googleSiteVerification) { %>
<meta name="google-site-verification" content="<%= config.googleSiteVerification %>"/>
<% } %>

<% if(is_home()) { %>
<!-- Windows Page Pin Menu -->
<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<meta name="application-name" content="<% if (title){ %><%= title %> | <% } %><%= config.title %>"/>
<meta name="msapplication-TileColor" content="#03a9f4"/>
<meta name="msapplication-navbutton-color" content="#03a9f4"/>
<meta content="name=首页;action-uri=/;icon-uri=/favicon.ico" name="msapplication-task"/>
<% if(site.pages.length) { %>
    <% site.pages.sort('weight', 'asc').each(function(p) { %>
        <% if('' == p.title) return; %>
        <meta content="name=<%- p.title %>;action-uri=<%- url_for(p.path) %>;icon-uri=/favicon.ico" name="msapplication-task"/>
    <% }) %>
<% } %>
<% } %>

</head>
