<article>
    <div class="d-flex">
        <div class="post-info-wrap">
            <div class="post-info">
                <% if(post.date && post.date.unix() > 43200 /* Filter out posts before UTC & handle timezone which may be 12h off */) { %>
                    <div class="post-meta-wrap"><div class="post-meta">
                        <p>
                            <span class="fas fa-clock"></span>
                            <br>
                            <small><%- date(post.date, 'MM-DD') %></small>
                        </p>
                        <div class="post-meta-value">
                            <%- __('date') %>
                            <span class="badge badge-tag">
                            <%- date(post.date, 'YYYY-MM-DD HH:mm') %>
                            </span>
                        </div>
                    </div></div>
                <% } %>
                <% if (post.categories && post.categories.length) { %>
                    <div class="post-meta-wrap"><div class="post-meta">
                        <p>
                            <span class="fas fa-file-alt"></span>
                            <br>
                            <small>
                                <% (post._categories || post.categories).forEach(category => { %>
                                    <%= category.name %>
                                <% }) %>
                            </small>
                        </p>
                        <div class="post-meta-value">
                            <%- __('category') %>
                            <% (post._categories || post.categories).forEach(category => { %>
                                <a class="badge badge-tag" href="<%- url_for(remove_trailing_slash(category.path)) %>"><%= category.name %></a>
                                &nbsp;
                            <% }) %>
                            &nbsp;
                        </div>
                    </div></div>
                <% } %>
                <% if(post.tags && post.tags.length) { %>
                    <div class="post-meta-wrap"><div class="post-meta">
                        <p>
                            <span class="fas fa-tag"></span>
                            <br>
                            <small><%- post.tags.length %> <%- __('n_tags') %></small>
                        </p>
                        <div class="post-meta-value">
                            <%- __('tags') %>
                            <% (post._tags || post.tags).forEach(tag => { %>
                                <a class="badge badge-tag" href="<%- url_for(remove_trailing_slash(tag.path)) %>"><%= tag.name %></a>
                                &nbsp;
                            <% }) %>
                            &nbsp;
                        </div>
                    </div></div>
                <% } %>
                <div class="post-meta-wrap"><div class="post-meta">
                    <p>
                        <span class="fas fa-qrcode"></span>
                        <br>
                        <small><%- __('qrcode') %></small>
                    </p>
                    <div class="post-meta-value">
                        <img class="qrcode" src="<%- qrcode(post.permalink) %>" alt="<%- __('qrcode') %>"/>
                    </div>
                </div></div>
                <% if(!index) { %>
                    <div class="post-meta-wrap"><div class="post-meta">
                        <p>
                            <span class="fas fa-list"></span>
                            <br>
                            <small><%- __('table_of_contents') %></small>
                        </p>
                        <div class="post-meta-value">
                            <ol id="quicklink">
                                <%- toc(post.content, {
                                    list_number: false
                                }) %>
                            </ol>
                        </div>
                    </div></div>
                <% } %>
            </div>
        </div>
        <div class="post-wrap">
            <% if(post.image) { %>
                <div class="post-image-wrap">
                    <img src="<%= post.image %>" alt="<%- __('illustration') %>"/>
                </div>
            <% } %>
            <h1 class="post-title"><a href="<%- url_for(remove_trailing_slash(post.path)) %>" rel="bookmark" title="<%= post.title %>"><%= post.title %></a></h1>
            <div class="post-text">
                <% if(index) { %>
                    <%- post.excerpt || lantian_excerpt(post.content) %>
                <% } else { %>
                    <%- post.content %>
                    <%- (post.special ? partial('../_special/' + post.special, {post: post, index: index}) : '') %>
                <% } %>
            </div>

            <% if(!index && (page.next || page.prev)) { %>
                <div class="clearfix" id="post-navi">
                    <% if(page.next) { %>
                        <div class="float-end text-end"><a href="<%- url_for(remove_trailing_slash(page.next.path)) %>" title="<%= page.next.title %>"><%= page.next.title %></a><br><%- __('next_post') %> &raquo;</div>
                    <% } %>
                    <% if(page.prev) { %>
                        <div class="float-start text-start position-absolute">&laquo; <%- __('previous_post') %><br><a href="<%- url_for(remove_trailing_slash(page.prev.path)) %>" title="<%= page.prev.title %>"><%= page.prev.title %></a></div>
                    <% } %>
                </div>
                <%- partial('_partial/comments') %>
            <% } %>
        </div>
    </div>
</article>
