<article>
    <div class="row">
        <div class="post-info col-md-3 col-12">
            <ul class="list-unstyled text-right">
                <% if(post.date && post.date.unix() > 43200 /* Filter out posts before UTC & handle timezone which may be 12h off */) { %>
                    <li><%- date(post.date, 'YYYY-MM-DD') %> <span class="fas fa-fw fa-calendar"></span></li>
                    <li><%- date(post.date, 'HH:mm') %> <span class="fas fa-fw fa-clock"></span></li>
                <% } %>
                <% if (post.categories && post.categories.length) { %>
                    <li>
                    <% (post._categories || post.categories).forEach(category => { %>
                        <a href="<%- url_for(remove_trailing_slash(category.path)) %>"><%= category.name %></a>
                    <% }) %>
                    <span class="fas fa-fw fa-file-alt"></span>
                    </li>
                <% } %>
                <% if(post.image) { %>
                <li class="d-none d-md-block">
                    <img src="<%= image_version(post.image, {prefix: 'thumb'}) %>" alt="<%- __('illustration') %>" height="150" width="200"/>
                </li>
                <% } %>
            </ul>
            <% if(!index) { %>
                <div id="quicklink" class="d-none d-md-block">
                    <%- toc(page.content, {
                        list_number: false
                    }) %>
                </div>
            <% } %>
        </div>
        <div class="col-md-9 col-12 post-wrap">
            <h1 class="post-title"><a href="<%- url_for(remove_trailing_slash(post.path)) %>" rel="bookmark" title="<%= post.title %>"><%= post.title %></a></h1>
            <div class="post-text">
                <% if(index) { %>
                    <% if(post.excerpt) { %>
                        <%- post.excerpt %>
                    <% } else { %>
                        <%- lantian_excerpt(post.content) %>
                    <% } %>
                <% } else { %>
                    <blockquote>
                        <p>2020-07-11:</p>
                        <p>I'm starting to provide Chinese / English versions of some articles, switch with the Language menu on top.</p>
                        <p>我开始提供部分文章的中文、英文翻译，请使用顶部语言菜单切换。</p>
                    </blockquote>
                    <%- post.content %>
                <% } %>
            </div>
            <div class="read">
                <ul class="list-inline float-left">
                    <li class="list-inline-item">
                        <a href="<%- url_for(remove_trailing_slash(post.path)) %>#comments">
                            <span class="fas fa-fw fa-comment"></span>
                        </a>
                    </li>
                    <% if(post.tags && post.tags.length) { %>
                        <% (post._tags || post.tags).forEach(tag => { %>
                            <li class="list-inline-item">
                                <a href="<%- url_for(remove_trailing_slash(tag.path)) %>"><span class="fas fa-fw fa-tag"></span> <%= tag.name %></a>
                            </li>
                        <% }) %>
                    <% } %>
                    <li class="list-inline-item float-right">
                        <a title="<%- __('show_qrcode') %>" class="qrcode-box" href="<%- qrcode(post.permalink) %>" rel="nofollow">
                            <span class="fas fa-fw fa-qrcode"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>

<% if(!index) { %>
    <div class="clearfix" id="post-navi">
        <% if(page.next) { %>
            <div class="float-right text-right"><a href="<%- url_for(remove_trailing_slash(page.next.path)) %>" title="<%= page.next.title %>"><%= page.next.title %></a><br><%- __('next_post') %> &raquo;</div>
        <% } %>
        <% if(page.prev) { %>
            <div class="float-left text-left position-absolute">&laquo; <%- __('previous_post') %><br><a href="<%- url_for(remove_trailing_slash(page.prev.path)) %>" title="<%= page.prev.title %>"><%= page.prev.title %></a></div>
        <% } %>
    </div>
    <%- partial('_partial/comments') %>
<% } %>
